<h1 mat-dialog-title>戶籍謄本文件說明</h1>

<div mat-dialog-content>
  <p>請擇一上傳「戶籍謄本」或「遷徙紀錄證明書」（不可以戶口名簿代替）</p>
  <br />
  <p>申辦管道</p>
  <ul>
    <li class="flex items-start">
      <label class="shrink-0 leading-6 text-sm mr-2 md:leading-7">臨櫃</label>
      <span class="text-base md:text-lg">請洽詢全國任一戶政事務所</span>
    </li>
    <li class="flex items-start">
      <label class="shrink-0 leading-6 text-sm mr-2 md:leading-7">線上</label>
      <a
        href="https://civil.hsinchu.gov.tw/cl.aspx?n=1229"
        target="_blank"
        class="text-base md:text-lg clickable-text"
        >新竹縣政府 民政處</a
      >
    </li>
  </ul>
</div>

<div mat-dialog-actions align="end">
  <button mat-flat-button color="primary" mat-dialog-close appAutoFocus>
    瞭解
  </button>
</div>
