<div class="page-title">申請單列表</div>

<form [formGroup]="fg" class="grid grid-cols-2 gap-x-4 my-4">
  <!-- 申請單狀態 -->
  <mat-form-field class="col-span-2 sm:col-span-1">
    <mat-label>申請單狀態</mat-label>
    <mat-select formControlName="applStatusList" multiple appAutoFocus>
      <mat-option
        *ngFor="let status of applStatusSelectList"
        [value]="status.value"
      >
        {{ status.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- 申請單編號、姓名關鍵字 -->
  <mat-form-field class="col-span-2 sm:col-span-1">
    <mat-label>申請單編號、姓名關鍵字</mat-label>
    <input type="text" matInput formControlName="keyword" autocomplete="off" />

    <button
      *ngIf="fcs['keyword'].value"
      type="button"
      matSuffix
      mat-icon-button
      color="primary"
      matTooltip="清除關鍵字"
      (click)="fcs['keyword'].setValue(null)"
    >
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>
</form>

<mat-card>
  <div class="spinner-box">
    <div class="overflow-auto">
      <table
        mat-table
        [dataSource]="dataSource"
        multiTemplateDataRows
        class="w-full"
      >
        <tr
          mat-header-row
          *matHeaderRowDef="
            gtMDQuery.matches ? displayedColumnsMD : displayedColumns
          "
        ></tr>
        <tr
          mat-row
          *matRowDef="
            let appl;
            columns: gtMDQuery.matches ? displayedColumnsMD : displayedColumns
          "
        ></tr>
        <tr
          mat-row
          *matRowDef="let appl; columns: ['expandedDetail']"
          class="h-0"
        ></tr>

        <!-- 申請單編號 applicationID: applicationID -->
        <ng-container matColumnDef="applicationID">
          <th mat-header-cell *matHeaderCellDef>申請單編號</th>
          <td mat-cell *matCellDef="let appl" class="border-b-0">
            <span
              class="block text-base clickable-text py-2"
              [class.text-amber-400]="
                expandingApplID === appl.applicationID ||
                expandedAppl?.applicationID === appl.applicationID
              "
              (click)="onGetAppl(appl.applicationID)"
              >{{ appl.applicationID }}</span
            >
          </td>
        </ng-container>

        <!-- 申請日期 createDatetime: createDatetime -->
        <ng-container matColumnDef="createDatetime">
          <th mat-header-cell *matHeaderCellDef>申請日期</th>
          <td mat-cell *matCellDef="let appl" class="border-b-0">
            <span>
              {{ appl.createDatetime | date: "yyyy/MM/dd" }}
            </span>
          </td>
        </ng-container>

        <!-- 姓名 name: name -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>姓名</th>
          <td mat-cell *matCellDef="let appl" class="border-b-0">
            <span>{{ appl.name }}</span>
          </td>
        </ng-container>

        <!-- 申請狀態 status: status -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>申請狀態</th>
          <td mat-cell *matCellDef="let appl" class="border-b-0">
            <span>{{ appl.status | i18nSelect: applStatusMap }}</span>
          </td>
        </ng-container>

        <!-- 操作 actions -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>操作</th>
          <td mat-cell *matCellDef="let appl" class="border-b-0">
            <button
              *ngIf="
                appl.status === applStatusObj.Y ||
                appl.status === applStatusObj.Arranged ||
                appl.status === applStatusObj.Completed
              "
              mat-icon-button
              color="primary"
              [matMenuTriggerFor]="actionMenu"
              [matMenuTriggerData]="{ appl }"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td
            mat-cell
            *matCellDef="let appl"
            [attr.colspan]="
              (gtMDQuery.matches ? displayedColumnsMD : displayedColumns).length
            "
          >
            <div
              class="overflow-hidden flex"
              [@detailExpand]="
                expandingApplID === appl.applicationID ||
                expandedAppl?.applicationID === appl.applicationID
                  ? 'expanded'
                  : 'collapsed'
              "
            >
              <div class="w-full spinner-box appl detail-col">
                <div
                  *ngIf="getting && expandingApplID === appl.applicationID"
                  class="spinner"
                >
                  <mat-spinner></mat-spinner>
                </div>

                <app-expanded-appl
                  *ngIf="expandedAppl?.applicationID === appl.applicationID"
                  [expandedAppl]="expandedAppl"
                ></app-expanded-appl>
              </div>
            </div>
          </td>
        </ng-container>
      </table>
    </div>
    <mat-paginator pageSize="10" hidePageSize class="w-full"></mat-paginator>

    <div *ngIf="gettingList" class="spinner">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</mat-card>

<mat-menu #actionMenu="matMenu">
  <ng-template matMenuContent let-appl="appl">
    <!-- 安排健檢 -->
    <button
      *ngIf="
        appl.status === applStatusObj.Y ||
        appl.status === applStatusObj.Arranged
      "
      mat-menu-item
      class="color-primary"
      (click)="openArrangeApplDialog(appl.applicationID, appl.scheduledDate)"
    >
      <mat-icon class="color-primary">event</mat-icon>
      <span>安排健檢</span>
    </button>

    <!-- 完成健檢 -->
    <button
      *ngIf="
        appl.status === applStatusObj.Arranged ||
        appl.status === applStatusObj.Completed
      "
      mat-menu-item
      class="color-primary"
      (click)="
        openCompleteApplDialog(
          appl.applicationID,
          appl.completionDate,
          appl.hasCancer
        )
      "
    >
      <mat-icon class="color-primary">event_available</mat-icon>
      <span>完成健檢</span>
    </button>

    <!-- 取消申請 -->
    <button
      *ngIf="
        appl.status === applStatusObj.Y ||
        appl.status === applStatusObj.Arranged
      "
      mat-menu-item
      class="color-warn"
      (click)="openCancelApplDialog(appl.applicationID)"
    >
      <mat-icon class="color-warn">cancel</mat-icon>
      <span>取消申請</span>
    </button>
  </ng-template>
</mat-menu>
