<section class="w-page py-4">
  <div class="page-title">線上申請</div>

  <mat-card>
    <mat-stepper
      #stepper
      linear
      [orientation]="gtMDQuery.matches ? 'horizontal' : 'vertical'"
      appMatStepperScroller
    >
      <!-- 身分認證 -->
      <mat-step
        label="身分認證"
        [stepControl]="verificationFG"
        [editable]="flagsOfEditable.verification"
      >
        <form
          appSubmitThrottle
          [submitThrottleTime]="2000"
          (submitThrottle)="onVerificationFormSubmit($event)"
        >
          <app-apply-verification-step
            [fg]="verificationFG"
          ></app-apply-verification-step>

          <div class="actions-box">
            <span class="grow"></span>
            <button
              type="submit"
              mat-flat-button
              color="primary"
              [disabled]="verifying"
            >
              下一步
            </button>
          </div>
        </form>
      </mat-step>

      <!-- 健檢項目 -->
      <mat-step
        label="健檢項目"
        [stepControl]="HCProgramFG"
        [editable]="flagsOfEditable.HCProgram"
      >
        <form (submit)="onHCProgramFormSubmit($event)">
          <app-apply-hcprogram-step
            [fg]="HCProgramFG"
          ></app-apply-hcprogram-step>

          <div class="actions-box">
            <span class="grow"></span>
            <button type="submit" mat-flat-button color="primary">
              下一步
            </button>
          </div>
        </form>
      </mat-step>

      <!-- 資料填寫 -->
      <mat-step
        label="資料填寫"
        [stepControl]="basicInfoFG"
        [editable]="flagsOfEditable.basicInfo"
      >
        <form
          appSubmitThrottle
          [submitThrottleTime]="2000"
          (submitThrottle)="onBasicInfoFormSubmit($event)"
        >
          <app-apply-basic-info-step
            [IDNo]="verificationFCs['IDNo'].value"
            [fg]="basicInfoFG"
          ></app-apply-basic-info-step>

          <div class="actions-box">
            <button type="button" mat-button color="primary" matStepperPrevious>
              上一步
            </button>
            <span class="grow"></span>
            <button type="submit" mat-flat-button color="primary">
              下一步
            </button>
          </div>
        </form>
      </mat-step>

      <!-- 文件上傳 -->
      <mat-step
        label="文件上傳"
        [stepControl]="IDPhotosFG"
        [editable]="flagsOfEditable.IDPhotos"
      >
        <form (submit)="onIDPhotosFormSubmit($event)">
          <app-apply-idphotos-step [fg]="IDPhotosFG"></app-apply-idphotos-step>

          <div class="actions-box">
            <button type="button" mat-button color="primary" matStepperPrevious>
              上一步
            </button>
            <span class="grow"></span>
            <button
              type="submit"
              mat-flat-button
              color="primary"
              [disabled]="adding"
            >
              送出申請
            </button>
          </div>
        </form>
      </mat-step>

      <!-- 申請完成 -->
      <mat-step label="申請完成">
        <span>申請完成</span>
      </mat-step>
    </mat-stepper>
  </mat-card>
</section>
