<div *ngIf="getting" class="blocking spinner" appStopClickPropagation>
  <mat-spinner diameter="80"></mat-spinner>
</div>

<section class="w-page py-4">
  <div class="breadcrumbs">
    <a routerLink="/home">首頁</a>

    <mat-icon>chevron_right</mat-icon>

    <a routerLink="/news-list">最新消息</a>

    <ng-container *ngIf="news">
      <mat-icon>chevron_right</mat-icon>

      <span>{{ news.title }}</span>
    </ng-container>
  </div>

  <ng-container *ngIf="news">
    <div class="page-title font-semibold">
      <div class="leading-10 mb-2">{{ news.title }}</div>
      <div class="text-xl text-black text-opacity-60">
        {{ news.date | date: "yyyy-MM-dd" }}
      </div>
    </div>

    <div class="w-full h-1 bg-amber-400"></div>

    <!-- TODO reset styles ? -->
    <div [innerHTML]="news.content | safeHTML" class="py-4"></div>
  </ng-container>
</section>
