<ng-container [ngSwitch]="data.role">
  <h1 mat-dialog-title *ngSwitchCase="'govt'">社會課登入</h1>
  <h1 mat-dialog-title *ngSwitchCase="'hosp'">醫院端登入</h1>
</ng-container>

<form [formGroup]="loginFG">
  <div mat-dialog-content class="grid grid-cols-1">
    <!-- 帳號 -->
    <mat-form-field class="col-span-1">
      <mat-label>帳號</mat-label>
      <input
        type="text"
        matInput
        formControlName="username"
        required
        maxlength="20"
        appAutoFocus
      />

      <mat-error *ngIf="loginFCs['username'].hasError('required')"
        >請輸入&nbsp;<strong>帳號</strong></mat-error
      >
    </mat-form-field>

    <!-- 密碼 -->
    <mat-form-field class="col-span-1">
      <mat-label>密碼</mat-label>
      <input
        [type]="showPassword ? 'text' : 'password'"
        matInput
        formControlName="password"
        required
        maxlength="20"
        autocomplete="off"
      />

      <button
        type="button"
        matSuffix
        mat-icon-button
        color="primary"
        [matTooltip]="showPassword ? '隱藏密碼' : '顯示密碼'"
        (click)="showPassword = !showPassword"
      >
        <mat-icon>{{
          showPassword ? "visibility" : "visibility_off"
        }}</mat-icon>
      </button>

      <mat-error *ngIf="loginFCs['password'].hasError('required')"
        >請輸入&nbsp;<strong>密碼</strong></mat-error
      >
      <mat-error *ngIf="loginFCs['password'].hasError('minlength')"
        >請輸入&nbsp;<strong>6 個字元以上</strong>&nbsp;的密碼</mat-error
      >
    </mat-form-field>

    <!-- 圖形驗證碼 -->
    <!-- <mat-form-field class="col-span-1">
      <mat-label>圖形驗證碼</mat-label>
      <input
        type="text"
        inputmode="numeric"
        matInput
        formControlName="captcha"
        required
        maxlength="6"
        autocomplete="off"
      />

      <mat-error *ngIf="loginFCs['captcha'].hasError('required')"
        >請輸入&nbsp;<strong>圖形驗證碼</strong></mat-error
      >
    </mat-form-field>

    <div
      class="col-span-1 h-form-field captcha form-field-style flex justify-between items-center"
    >
      <img [src]="captchaImgSrc" alt="captcha" />

      <button
        type="button"
        mat-icon-button
        color="primary"
        matTooltip="更新圖形驗證碼"
        (click)="refreshCaptcha()"
      >
        <mat-icon>refresh</mat-icon>
      </button>
    </div> -->
  </div>

  <div mat-dialog-actions align="end">
    <button
      type="button"
      mat-button
      [disabled]="loggingIn"
      [mat-dialog-close]="false"
    >
      取消
    </button>
    <button
      type="submit"
      mat-flat-button
      color="primary"
      [disabled]="loggingIn"
      (click)="onLogin()"
    >
      登入
    </button>
  </div>
</form>
