<form [formGroup]="fg" class="grid grid-cols-2 gap-x-4 my-4">
  <!-- 身分證正面 -->
  <div
    class="col-span-2 form-field-style sm:col-span-1"
    [class.form-field-invalid]="
      (fcs['imgIDA'].touched || fcs['imgIDA'].dirty) && fcs['imgIDA'].invalid
    "
  >
    <div class="w-full h-form-field flex justify-between items-center">
      <label class="form-field-label">身分證正面 *</label>

      <input
        #imgIDAInput
        type="file"
        accept="image/*"
        (change)="handleImageUpload($event, fcs['imgIDA'])"
        class="hidden"
      />

      <button
        type="button"
        mat-icon-button
        color="primary"
        [disabled]="uploading"
        matTooltip="拍攝或上傳照片"
        (click)="imgIDAInput.click()"
      >
        <mat-icon>add_photo_alternate</mat-icon>
      </button>
    </div>

    <div class="w-full h-60 flex justify-center items-center">
      <img
        *ngIf="fcs['imgIDA'].value; else noImgIDA"
        [src]="fcs['imgIDA'].value"
        alt="imgIDA"
        class="max-w-full max-h-full"
      />

      <ng-template #noImgIDA>
        <span>請&nbsp;</span><span *ngIf="uploading">拍攝或上傳</span
        ><span
          *ngIf="!uploading"
          class="clickable-text"
          (click)="imgIDAInput.click()"
          >拍攝或上傳</span
        ><span>&nbsp;<strong>身分證正面</strong>&nbsp;照片</span>
      </ng-template>
    </div>
  </div>

  <!-- 身分證反面 -->
  <div
    class="col-span-2 form-field-style sm:col-span-1"
    [class.form-field-invalid]="
      (fcs['imgIDB'].touched || fcs['imgIDB'].dirty) && fcs['imgIDB'].invalid
    "
  >
    <div class="w-full h-form-field flex justify-between items-center">
      <label class="form-field-label">身分證反面 *</label>

      <input
        #imgIDBInput
        type="file"
        accept="image/*"
        (change)="handleImageUpload($event, fcs['imgIDB'])"
        class="hidden"
      />

      <button
        type="button"
        mat-icon-button
        color="primary"
        [disabled]="uploading"
        matTooltip="拍攝或上傳照片"
        (click)="imgIDBInput.click()"
      >
        <mat-icon>add_photo_alternate</mat-icon>
      </button>
    </div>

    <div class="w-full h-60 flex justify-center items-center">
      <img
        *ngIf="fcs['imgIDB'].value; else noImgIDB"
        [src]="fcs['imgIDB'].value"
        alt="imgIDB"
        class="max-w-full max-h-full"
      />

      <ng-template #noImgIDB>
        <span>請&nbsp;</span><span *ngIf="uploading">拍攝或上傳</span
        ><span
          *ngIf="!uploading"
          class="clickable-text"
          (click)="imgIDBInput.click()"
          >拍攝或上傳</span
        ><span>&nbsp;<strong>身分證反面</strong>&nbsp;照片</span>
      </ng-template>
    </div>
  </div>

  <!-- 存摺封面 -->
  <div
    class="col-span-2 form-field-style sm:col-span-1"
    [class.form-field-invalid]="
      (fcs['imgBankbook'].touched || fcs['imgBankbook'].dirty) &&
      fcs['imgBankbook'].invalid
    "
  >
    <div class="w-full h-form-field flex justify-between items-center">
      <label class="form-field-label">存摺封面 *</label>

      <input
        #imgBankbookInput
        type="file"
        accept="image/*"
        (change)="handleImageUpload($event, fcs['imgBankbook'])"
        class="hidden"
      />

      <button
        type="button"
        mat-icon-button
        color="primary"
        [disabled]="uploading"
        matTooltip="拍攝或上傳照片"
        (click)="imgBankbookInput.click()"
      >
        <mat-icon>add_photo_alternate</mat-icon>
      </button>
    </div>

    <div class="w-full h-60 flex justify-center items-center">
      <img
        *ngIf="fcs['imgBankbook'].value; else noImgBankbook"
        [src]="fcs['imgBankbook'].value"
        alt="imgBankbook"
        class="max-w-full max-h-full"
      />

      <ng-template #noImgBankbook>
        <span>請&nbsp;</span><span *ngIf="uploading">拍攝或上傳</span
        ><span
          *ngIf="!uploading"
          class="clickable-text"
          (click)="imgBankbookInput.click()"
          >拍攝或上傳</span
        ><span>&nbsp;<strong>存摺封面</strong>&nbsp;照片</span>
      </ng-template>
    </div>
  </div>

  <!-- 戶籍謄本 -->
  <div
    class="col-span-2 form-field-style sm:col-span-1"
    [class.form-field-invalid]="
      (fcs['imgRegTranscript'].touched || fcs['imgRegTranscript'].dirty) &&
      fcs['imgRegTranscript'].invalid
    "
  >
    <div class="w-full h-form-field flex justify-between items-center">
      <label class="form-field-label">戶籍謄本 *</label>

      <input
        #imgRegTranscriptInput
        type="file"
        accept="image/*"
        (change)="handleImageUpload($event, fcs['imgRegTranscript'])"
        class="hidden"
      />

      <button
        type="button"
        mat-icon-button
        color="primary"
        [disabled]="uploading"
        matTooltip="拍攝或上傳照片"
        (click)="imgRegTranscriptInput.click()"
      >
        <mat-icon>add_photo_alternate</mat-icon>
      </button>
    </div>

    <div class="w-full h-60 flex justify-center items-center">
      <img
        *ngIf="fcs['imgRegTranscript'].value; else noImgRegTranscript"
        [src]="fcs['imgRegTranscript'].value"
        alt="imgRegTranscript"
        class="max-w-full max-h-full"
      />

      <ng-template #noImgRegTranscript>
        <span>請&nbsp;</span><span *ngIf="uploading">拍攝或上傳</span
        ><span
          *ngIf="!uploading"
          class="clickable-text"
          (click)="imgRegTranscriptInput.click()"
          >拍攝或上傳</span
        ><span>&nbsp;<strong>戶籍謄本</strong>&nbsp;照片</span>
      </ng-template>
    </div>
  </div>
</form>
