<div
  *ngIf="expandedAppl !== null"
  class="grid grid-cols-2 gap-x-4 border-t border-black border-opacity-6"
>
  <table class="col-span-2 md:col-span-1">
    <ng-container *ngIf="!gtMDQuery.matches">
      <!-- 申請狀態 -->
      <tr>
        <td><label>申請狀態</label></td>
        <td>
          <span>{{ expandedAppl.status | i18nSelect: applStatusMap }}</span>
        </td>
      </tr>
      <!-- 申請日期 -->
      <tr>
        <td><label>申請日期</label></td>
        <td>
          <span>{{ expandedAppl.createDatetime | date: "yyyy/MM/dd" }}</span>
        </td>
      </tr>
      <!-- 姓名 -->
      <tr>
        <td><label>姓名</label></td>
        <td>
          <span>{{ expandedAppl.name }}</span>
        </td>
      </tr>
    </ng-container>

    <tr *ngFor="let property of detailPropertyList">
      <td>
        <label>{{ property.label }}</label>
      </td>
      <td>
        <span>{{ $any(expandedAppl)[property.key] }}</span>
      </td>
    </tr>
  </table>

  <div
    *ngIf="
      expandedAppl.imgIDA ||
      expandedAppl.imgIDB ||
      expandedAppl.imgBankbook ||
      expandedAppl.imgRegTranscript
    "
    class="col-span-2 md:col-span-1"
  >
    <div class="grid grid-cols-4 gap-x-2">
      <label
        *ngFor="let property of imgPropertyList"
        [class.text-amber-400]="
          $any(expandedAppl).displayedImg === property.key
        "
        class="clickable-text col-span-2 sm:col-span-1"
        (click)="$any(expandedAppl).displayedImg = property.key"
        >{{ property.label }}</label
      >
    </div>
    <div
      *ngFor="let property of imgPropertyList"
      class="flex justify-center items-center"
    >
      <ng-magnizoom
        [hidden]="$any(expandedAppl).displayedImg !== property.key"
        zoomMode="LENS"
        [imageSrc]="$any(expandedAppl)[property.key] ?? ''"
        [imageStyle]="{ 'max-width': '100%', 'max-height': '20rem' }"
      >
      </ng-magnizoom>
    </div>
  </div>
</div>
