<div class="spinner-box">
  <div class="overflow-auto">
    <div *ngIf="gettingList" class="spinner">
      <mat-spinner></mat-spinner>
    </div>

    <table
      mat-table
      [dataSource]="dataSource"
      multiTemplateDataRows
      class="w-full"
    >
      <tr
        mat-header-row
        *matHeaderRowDef="
          gtMDQuery.matches ? displayedColumnsMD : displayedColumns
        "
      ></tr>
      <tr
        mat-row
        *matRowDef="
          let appl;
          columns: gtMDQuery.matches ? displayedColumnsMD : displayedColumns
        "
      ></tr>
      <tr
        mat-row
        *matRowDef="let appl; columns: ['expandedDetail']"
        class="h-0"
      ></tr>

      <!-- 申請單編號 applicationID: applicationID -->
      <ng-container matColumnDef="applicationID">
        <th mat-header-cell *matHeaderCellDef>申請單編號</th>
        <td mat-cell *matCellDef="let appl" class="border-b-0">
          <span
            class="block text-base clickable-text py-2"
            [class.text-amber-400]="
              expandingApplID === appl.applicationID ||
              expandedAppl?.applicationID === appl.applicationID
            "
            (click)="onGetAppl(appl.applicationID)"
            >{{ appl.applicationID }}</span
          >
        </td>
      </ng-container>

      <!-- 申請日期 createDatetime: createDatetime -->
      <ng-container matColumnDef="createDatetime">
        <th mat-header-cell *matHeaderCellDef>申請日期</th>
        <td mat-cell *matCellDef="let appl" class="border-b-0">
          <span>
            {{ appl.createDatetime | date: "yyyy/MM/dd" }}
          </span>
        </td>
      </ng-container>

      <!-- 姓名 name: name -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>姓名</th>
        <td mat-cell *matCellDef="let appl" class="border-b-0">
          <span>{{ appl.name }}</span>
        </td>
      </ng-container>

      <!-- 申請狀態 status: status -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>申請狀態</th>
        <td mat-cell *matCellDef="let appl" class="border-b-0">
          <span>{{ appl.status | i18nSelect: applStatusMap }}</span>
        </td>
      </ng-container>

      <!-- 操作 actions -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>操作</th>
        <td mat-cell *matCellDef="let appl" class="border-b-0">
          <button
            *ngIf="
              appl.status === applStatusObj.Unreviewed ||
              appl.status === applStatusObj.N
            "
            mat-icon-button
            color="primary"
            [matMenuTriggerFor]="actionMenu"
            [matMenuTriggerData]="{ appl }"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td
          mat-cell
          *matCellDef="let appl"
          [attr.colspan]="
            (gtMDQuery.matches ? displayedColumnsMD : displayedColumns).length
          "
        >
          <div
            class="overflow-hidden flex"
            [@detailExpand]="
              expandingApplID === appl.applicationID ||
              expandedAppl?.applicationID === appl.applicationID
                ? 'expanded'
                : 'collapsed'
            "
          >
            <div class="w-full spinner-box appl detail-col">
              <div
                *ngIf="getting && expandingApplID === appl.applicationID"
                class="spinner"
              >
                <mat-spinner></mat-spinner>
              </div>

              <app-expanded-appl
                *ngIf="expandedAppl?.applicationID === appl.applicationID"
                [appl]="appl"
                [expandedAppl]="expandedAppl"
              ></app-expanded-appl>
            </div>
          </div>
        </td>
      </ng-container>
    </table>
  </div>
  <mat-paginator pageSize="10" hidePageSize class="w-full"></mat-paginator>
</div>

<mat-menu #actionMenu="matMenu">
  <ng-template matMenuContent let-appl="appl">
    <!-- 編輯申請 -->
    <button
      *ngIf="appl.status === applStatusObj.Unreviewed"
      mat-menu-item
      class="color-primary"
      (click)="openUpdateApplDialog(appl.applicationID)"
    >
      <mat-icon class="color-primary">edit</mat-icon>
      <span>編輯申請</span>
    </button>

    <!-- 補正申請 -->
    <button
      *ngIf="appl.status === applStatusObj.N"
      mat-menu-item
      class="color-primary"
      (click)="openUpdateApplDialog(appl.applicationID)"
    >
      <mat-icon class="color-primary">edit</mat-icon>
      <span>補正申請</span>
    </button>

    <!-- 取消申請 -->
    <button
      *ngIf="
        appl.status === applStatusObj.Unreviewed ||
        appl.status === applStatusObj.N
      "
      mat-menu-item
      class="color-warn"
      (click)="openCancelApplDialog(appl.applicationID)"
    >
      <mat-icon class="color-warn">cancel</mat-icon>
      <span>取消申請</span>
    </button>
  </ng-template>
</mat-menu>
