.captcha.form-field-style {
  padding: 0 0.75em 0 0;

  > img {
    width: auto;
    height: 100%;
  }

  > button {
    width: 2.5em;
    height: 2.5em;

    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}
