<div class="flex flex-col">
  <header class="shadow">
    <mat-toolbar class="bg-white">
      <div class="w-page flex">
        <a routerLink="/home" class="flex items-center">
          <img
            src="assets/logo.png"
            width="40"
            height="40"
            class="mr-2"
            alt="logo"
          />

          <div class="hidden sm:block">
            <div class="text-sm">新竹縣關西鎮公所</div>
            <div class="text-base">Guanxi Township Office</div>
          </div>
        </a>

        <span class="grow"></span>

        <div class="actions-box">
          <button type="button" mat-button (click)="openLoginDialog('govt')">
            社會課登入
          </button>
          <button type="button" mat-button (click)="openLoginDialog('hosp')">
            醫院端登入
          </button>
        </div>
      </div>
    </mat-toolbar>
  </header>

  <main class="cover-page">
    <router-outlet></router-outlet>
  </main>

  <footer class="bg-rose-400 text-white">
    <div class="w-page flex flex-col py-4 md:flex-row">
      <ul class="grow">
        <!-- 服務地址 -->
        <li>
          <label>服務地址</label>
          <a
            href="https://www.google.com.tw/maps/place/新竹縣關西鎮公所/@24.7924649,121.1736378,17z/data=!3m1!4b1!4m5!3m4!1s0x34683ecc0f3d046b:0xd13b7120aa456e66!8m2!3d24.79246!4d121.1758265"
            target="_blank"
            class="clickable-text"
            >306 新竹縣 關西鎮 正義路 51 號</a
          >
        </li>
        <!-- 服務時間 -->
        <li>
          <label>服務時間</label>
          <span
            >週一至週五 上午 08:00 - 12:00、下午 13:00 -
            17:00（例假日休息）</span
          >
        </li>
      </ul>

      <ul class="grow">
        <!-- 電話 -->
        <li>
          <label>電話</label>
          <a href="tel:035873180" target="_blank" class="clickable-text"
            >03 - 587 3180 # 3</a
          >
        </li>
        <!-- 傳真 -->
        <li>
          <label>傳真</label>
          <span>03 - 587 4248</span>
        </li>
        <!-- 統編 -->
        <li>
          <label>統編</label>
          <span>4681 4303</span>
        </li>
      </ul>

      <div class="shrink-0 flex justify-center items-start">
        <!-- facebook -->
        <a href="https://www.facebook.com/GuanxiTownshipOffice/" class="mr-4">
          <img
            src="assets/icon-facebook.svg"
            width="40"
            height="40"
            alt="icon-facebook"
          />
        </a>
        <!-- youtube -->
        <a href="https://www.youtube.com/user/guanhxiview">
          <img
            src="assets/icon-youtube.svg"
            width="40"
            height="40"
            alt="icon-youtube"
          />
        </a>
      </div>
    </div>
  </footer>
</div>
