<div [formGroup]="fg" class="grid grid-cols-2 gap-x-4 my-4">
  <!-- 初次申請 -->
  <div class="col-span-2 h-form-field form-field-style flex items-center">
    <label class="mr-4">初次申請 *</label>
    <mat-radio-group formControlName="isFirstTime">
      <mat-radio-button [value]="true" class="mr-4">是</mat-radio-button>
      <mat-radio-button [value]="false">否</mat-radio-button>
    </mat-radio-group>
  </div>

  <!-- 身分證字號 -->
  <mat-form-field class="col-span-2 sm:col-span-1">
    <mat-label>身分證字號</mat-label>
    <input
      type="text"
      matInput
      formControlName="IDNo"
      required
      maxlength="10"
      autocomplete="off"
      appUpperCase
    />

    <button
      *ngIf="showIDNoHintButton"
      type="button"
      matSuffix
      mat-icon-button
      color="accent"
      matTooltip="每日身分證字號尾碼限制"
      (click)="openIDNoHintDialog()"
    >
      <mat-icon>info</mat-icon>
    </button>

    <mat-error *ngIf="fcs['IDNo'].hasError('required')"
      >請輸入&nbsp;<strong>身分證字號</strong></mat-error
    >
    <mat-error *ngIf="fcs['IDNo'].hasError('IDNo')"
      ><strong>身分證字號</strong>&nbsp;格式有誤</mat-error
    >
  </mat-form-field>

  <!-- 存取密碼 -->
  <mat-form-field class="col-span-2 sm:col-span-1">
    <mat-label>存取密碼</mat-label>
    <input
      [type]="showPassword ? 'text' : 'password'"
      matInput
      formControlName="password"
      required
      maxlength="20"
      autocomplete="off"
    />

    <button
      type="button"
      matSuffix
      mat-icon-button
      color="primary"
      [disabled]="fcs['password'].disabled"
      [matTooltip]="showPassword ? '隱藏密碼' : '顯示密碼'"
      (click)="showPassword = !showPassword"
    >
      <mat-icon>{{ showPassword ? "visibility" : "visibility_off" }}</mat-icon>
    </button>

    <mat-error *ngIf="fcs['password'].hasError('required')"
      >請輸入&nbsp;<strong>存取密碼</strong></mat-error
    >
    <mat-error *ngIf="fcs['password'].hasError('minlength')"
      >請輸入&nbsp;<strong>6 個字元以上</strong>&nbsp;的密碼</mat-error
    >
  </mat-form-field>

  <!-- 圖形驗證碼 -->
  <!-- <mat-form-field class="col-span-2 sm:col-span-1">
    <mat-label>圖形驗證碼</mat-label>
    <input
      type="text"
      inputmode="numeric"
      matInput
      formControlName="captcha"
      required
      maxlength="6"
      autocomplete="off"
    />

    <mat-error *ngIf="fcs['captcha'].hasError('required')"
      >請輸入&nbsp;<strong>圖形驗證碼</strong></mat-error
    >
  </mat-form-field>

  <div
    class="col-span-2 h-form-field captcha form-field-style flex justify-between items-center sm:col-span-1"
  >
    <img [src]="captchaImgSrc" alt="captcha" />

    <button
      type="button"
      mat-icon-button
      color="primary"
      matTooltip="更新圖形驗證碼"
      (click)="refreshCaptcha()"
    >
      <mat-icon>refresh</mat-icon>
    </button>
  </div> -->
</div>
