<div class="spinner-box">
  <div [formGroup]="fg" class="grid grid-cols-1 my-4">
    <!-- 發送方式 -->
    <div
      class="col-span-1 h-form-field form-field-style flex items-center"
      [class.form-field-invalid]="
        (fcs['receiverType'].touched || fcs['receiverType'].dirty) &&
        fcs['receiverType'].invalid
      "
    >
      <label class="form-field-label mr-4">發送方式 *</label>
      <mat-radio-group formControlName="receiverType">
        <mat-radio-button [value]="receiverTypeObj.ByApplStatus" class="mr-4"
          >依狀態</mat-radio-button
        >
        <mat-radio-button [value]="receiverTypeObj.ByApplID"
          >依編號</mat-radio-button
        >
      </mat-radio-group>
    </div>

    <!-- 申請單狀態 -->
    <mat-form-field class="col-span-1">
      <mat-label>申請單狀態</mat-label>
      <mat-select formControlName="applStatusList" multiple required>
        <mat-option
          *ngFor="let status of applStatusSelectList"
          [value]="status.value"
        >
          {{ status.label }}
        </mat-option>
      </mat-select>

      <mat-error *ngIf="fcs['applStatusList'].hasError('required')"
        >請勾選發送對象的&nbsp;<strong>申請單狀態</strong></mat-error
      >
    </mat-form-field>

    <!-- 申請單編號 -->
    <mat-form-field
      class="col-span-1"
      [class.cursor-pointer]="fcs['applIDList'].enabled"
      (click)="openApplListPicker($event)"
    >
      <mat-label>申請單編號</mat-label>
      <mat-chip-list #applIDList multiple formControlName="applIDList">
        <mat-chip
          *ngFor="let id of fcs['applIDList'].value"
          [disabled]="fcs['applIDList'].disabled"
          [selectable]="false"
          (click)="$event.stopPropagation()"
        >
          {{ id }}
        </mat-chip>

        <input
          type="text"
          required
          readonly
          tabindex="-1"
          [class.cursor-pointer]="fcs['applIDList'].enabled"
          [matChipInputFor]="applIDList"
        />
      </mat-chip-list>

      <button
        type="button"
        matSuffix
        mat-icon-button
        color="primary"
        [disabled]="fcs['applIDList'].disabled"
        matTooltip="選擇申請單"
        (click)="openApplListPicker($event)"
      >
        <mat-icon>post_add</mat-icon>
      </button>

      <mat-error *ngIf="fcs['applIDList'].hasError('required')"
        >請加入發送對象的&nbsp;<strong>申請單</strong></mat-error
      >
    </mat-form-field>
  </div>

  <div class="overflow-auto">
    <table
      mat-table
      [dataSource]="dataSource"
      multiTemplateDataRows
      matSort
      class="w-full"
    >
      <tr
        mat-header-row
        *matHeaderRowDef="
          gtSMQuery.matches ? displayedColumnsSM : displayedColumns
        "
      ></tr>
      <tr
        mat-row
        *matRowDef="
          let appl;
          columns: gtSMQuery.matches ? displayedColumnsSM : displayedColumns
        "
      ></tr>
      <tr
        mat-row
        *matRowDef="let appl; columns: ['expandedDetail']"
        class="h-0"
      ></tr>

      <!-- 申請單編號 applicationID: applicationID -->
      <ng-container matColumnDef="applicationID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>申請單編號</th>
        <td mat-cell *matCellDef="let appl" class="border-b-0">
          <span class="block text-base py-2">{{ appl.applicationID }}</span>
        </td>
      </ng-container>

      <!-- 申請日期 createDatetime: createDatetime -->
      <ng-container matColumnDef="createDatetime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>申請日期</th>
        <td mat-cell *matCellDef="let appl" class="border-b-0">
          <span>
            {{ appl.createDatetime | date: "yyyy/MM/dd" }}
          </span>
        </td>
      </ng-container>

      <!-- 姓名 name: name -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>姓名</th>
        <td mat-cell *matCellDef="let appl" class="border-b-0">
          <span>{{ appl.name }}</span>
        </td>
      </ng-container>

      <!-- 申請狀態 status: status -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>申請狀態</th>
        <td mat-cell *matCellDef="let appl" class="border-b-0">
          <span>{{ appl.status | i18nSelect: applStatusMap }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td
          mat-cell
          *matCellDef="let appl"
          [attr.colspan]="
            (gtSMQuery.matches ? displayedColumnsSM : displayedColumns).length
          "
        >
          <div class="w-full receiver detail-col">
            <div
              *ngIf="!gtSMQuery.matches"
              class="grid grid-cols-1 border-t border-black border-opacity-6"
            >
              <table class="col-span-1">
                <!-- 申請日期 -->
                <tr>
                  <td><label>申請日期</label></td>
                  <td>
                    <span>{{ appl.createDatetime | date: "yyyy/MM/dd" }}</span>
                  </td>
                </tr>
                <!-- 姓名 -->
                <tr>
                  <td><label>姓名</label></td>
                  <td>
                    <span>{{ appl.name }}</span>
                  </td>
                </tr>
                <!-- 申請狀態 -->
                <tr>
                  <td><label>申請狀態</label></td>
                  <td>
                    <span>{{ appl.status | i18nSelect: applStatusMap }}</span>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </td>
      </ng-container>
    </table>
  </div>
  <mat-paginator pageSize="10" hidePageSize class="w-full"></mat-paginator>

  <div *ngIf="gettingList" class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</div>
