<div class="spinner-box">
  <div mat-dialog-title class="flex justify-around">
    <h1
      *ngFor="let label of tabLabels; let i = index"
      [class.text-amber-400]="selectedIndex === i"
      class="clickable-text"
      (click)="selectedIndex = i"
    >
      {{ label }}
    </h1>
  </div>

  <div mat-dialog-content>
    <mat-tab-group [selectedIndex]="selectedIndex" class="header-hidden">
      <!-- 健檢項目 -->
      <mat-tab label="健檢項目">
        <app-hcprogram-form
          [fg]="HCProgramFG"
          [hospData]="data.hospData"
        ></app-hcprogram-form>
      </mat-tab>

      <!-- 資料填寫 -->
      <mat-tab label="資料填寫">
        <app-basic-info-form
          [fg]="basicInfoFG"
          [maxRegDate]="maxRegDate"
        ></app-basic-info-form>
      </mat-tab>

      <!-- 文件上傳 -->
      <mat-tab label="文件上傳">
        <app-idphotos-form
          [fg]="IDPhotosFG"
          [maxImgSizeMB]="maxImgSizeMB"
        ></app-idphotos-form>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="false">取消</button>
    <button
      mat-flat-button
      color="primary"
      [disabled]="updating || appl === undefined"
      appClickThrottle
      [clickThrottleTime]="2000"
      (clickThrottle)="onUpdateAppl()"
    >
      更新
    </button>
  </div>

  <div *ngIf="getting || updating" class="spinner" appStopClickPropagation>
    <mat-spinner></mat-spinner>
  </div>
</div>
