<form [formGroup]="fg" class="grid grid-cols-2 gap-x-4 my-4">
  <!-- 姓名 -->
  <mat-form-field class="col-span-2 sm:col-span-1">
    <mat-label>姓名</mat-label>
    <input
      type="text"
      matInput
      formControlName="name"
      required
      maxlength="20"
    />

    <mat-error *ngIf="fcs['name'].hasError('required')"
      >請輸入&nbsp;<strong>姓名</strong></mat-error
    >
  </mat-form-field>

  <!-- 性別 -->
  <div
    class="col-span-2 h-form-field form-field-style flex items-center sm:col-span-1"
    [class.form-field-invalid]="
      (fcs['gender'].touched || fcs['gender'].dirty) && fcs['gender'].invalid
    "
  >
    <label class="form-field-label mr-4">性別 *</label>
    <mat-radio-group formControlName="gender">
      <mat-radio-button [value]="genderObj.Male" class="mr-4"
        >男</mat-radio-button
      >
      <mat-radio-button [value]="genderObj.Female">女</mat-radio-button>
    </mat-radio-group>
  </div>

  <!-- 出生日期 -->
  <mat-form-field
    (click)="birthDatepicker.open()"
    class="col-span-2 cursor-pointer sm:col-span-1"
  >
    <mat-label>出生日期</mat-label>
    <input
      matInput
      [matDatepicker]="birthDatepicker"
      formControlName="birthDate"
      required
      [max]="today"
      readonly
      tabindex="-1"
      class="cursor-pointer"
    />

    <button
      *ngIf="fcs['birthDate'].value; else birthDateToggle"
      type="button"
      matSuffix
      mat-icon-button
      color="primary"
      matTooltip="清除日期"
      (click)="clearDate($event, fcs['birthDate'])"
    >
      <mat-icon>clear</mat-icon>
    </button>
    <ng-template #birthDateToggle>
      <button
        type="button"
        matSuffix
        mat-icon-button
        color="primary"
        matTooltip="選擇日期"
      >
        <mat-icon>today</mat-icon>
      </button>
    </ng-template>

    <mat-error *ngIf="fcs['birthDate'].hasError('required')"
      >請選擇&nbsp;<strong>出生日期</strong></mat-error
    >
    <mat-error *ngIf="minApplAge && fcs['birthDate'].hasError('dateRange')"
      >未符合申請資格，須年滿&nbsp;<strong>{{ minApplAge }}&nbsp;歲</strong>
    </mat-error>

    <mat-datepicker #birthDatepicker startView="multi-year"></mat-datepicker>
  </mat-form-field>

  <!-- 設籍日期 -->
  <mat-form-field
    (click)="regDatepicker.open()"
    class="col-span-2 cursor-pointer sm:col-span-1"
  >
    <mat-label>設籍日期</mat-label>
    <input
      matInput
      [matDatepicker]="regDatepicker"
      formControlName="regDate"
      required
      [max]="today"
      readonly
      tabindex="-1"
      class="cursor-pointer"
    />

    <button
      *ngIf="fcs['regDate'].value; else regDateToggle"
      type="button"
      matSuffix
      mat-icon-button
      color="primary"
      matTooltip="清除日期"
      (click)="clearDate($event, fcs['regDate'])"
    >
      <mat-icon>clear</mat-icon>
    </button>
    <ng-template #regDateToggle>
      <button
        type="button"
        matSuffix
        mat-icon-button
        color="primary"
        matTooltip="選擇日期"
      >
        <mat-icon>today</mat-icon>
      </button>
    </ng-template>

    <mat-error *ngIf="fcs['regDate'].hasError('required')"
      >請選擇&nbsp;<strong>設籍日期</strong></mat-error
    >
    <mat-error *ngIf="fcs['regDate'].hasError('dateRange')"
      >未符合申請資格，須早於&nbsp;<strong>{{
        maxRegDate | date: "yyyy/MM/dd"
      }}</strong>
    </mat-error>

    <mat-datepicker #regDatepicker startView="multi-year"></mat-datepicker>
  </mat-form-field>

  <div class="col-span-2 flex">
    <!-- 戶籍地址（縣市、鄉鎮市區） -->
    <mat-form-field class="w-32 grow shrink-0">
      <mat-label>戶籍地址（縣市、鄉鎮市區）</mat-label>
      <input
        type="text"
        matInput
        value="新竹縣 關西鎮"
        required
        readonly
        tabindex="-1"
      />
    </mat-form-field>

    <!-- 戶籍地址（村里） -->
    <mat-form-field class="w-24 grow shrink-0">
      <mat-label>戶籍地址（村里）</mat-label>
      <mat-select formControlName="village" required>
        <mat-option
          *ngFor="let village of villageSelectList"
          [value]="village.value"
        >
          {{ village.label }}
        </mat-option>
      </mat-select>

      <mat-error *ngIf="fcs['village'].hasError('required')"
        >請選擇&nbsp;<strong>戶籍地址（村里）</strong></mat-error
      >
    </mat-form-field>
  </div>

  <!-- 戶籍地址（詳細地址） -->
  <mat-form-field class="col-span-2">
    <mat-label>戶籍地址（詳細地址）</mat-label>
    <input
      type="text"
      matInput
      formControlName="address"
      required
      maxlength="50"
    />

    <mat-error *ngIf="fcs['address'].hasError('required')"
      >請輸入&nbsp;<strong>戶籍地址（詳細地址）</strong></mat-error
    >
  </mat-form-field>

  <!-- Email -->
  <mat-form-field class="col-span-2 sm:col-span-1">
    <mat-label>Email</mat-label>
    <input
      type="email"
      inputmode="email"
      matInput
      formControlName="email"
      maxlength="50"
    />

    <mat-error *ngIf="fcs['email'].hasError('email')"
      ><strong>Email</strong>&nbsp;格式有誤</mat-error
    >
  </mat-form-field>

  <!-- 行動電話 -->
  <mat-form-field class="col-span-2 sm:col-span-1">
    <mat-label>行動電話</mat-label>
    <input
      type="text"
      inputmode="numeric"
      matInput
      formControlName="mobileNo"
      maxlength="10"
      [errorStateMatcher]="mobileOrTelephoneNoErrorStateMatcher"
    />

    <mat-error *ngIf="fg.hasError('mobileOrTelephoneNo')"
      >請輸入&nbsp;<strong>行動電話</strong>&nbsp;或&nbsp;<strong
        >住家電話</strong
      ></mat-error
    >
    <mat-error *ngIf="fcs['mobileNo'].hasError('pattern')"
      ><strong>行動電話</strong>&nbsp;格式有誤</mat-error
    >
  </mat-form-field>

  <div class="col-span-2 flex">
    <!-- 住家電話 - 區碼 -->
    <mat-form-field class="w-14 grow shrink-0">
      <mat-label>區碼</mat-label>
      <input
        type="text"
        inputmode="numeric"
        matInput
        formControlName="telPrefix"
        maxlength="3"
        [errorStateMatcher]="telephoneNoErrorStateMatcher"
      />

      <mat-error *ngIf="fg.hasError('mobileOrTelephoneNo')"
        >請輸入&nbsp;<strong>行動電話</strong>&nbsp;或&nbsp;<strong
          >住家電話</strong
        ></mat-error
      >
      <mat-error *ngIf="fg.hasError('telephoneNo')"
        ><strong>住家電話</strong>&nbsp;格式有誤</mat-error
      >
    </mat-form-field>

    <!-- 住家電話 - 電話號碼 -->
    <mat-form-field class="w-24 grow shrink-0">
      <mat-label>電話號碼</mat-label>
      <input
        type="text"
        inputmode="numeric"
        matInput
        formControlName="telNo"
        maxlength="8"
        [errorStateMatcher]="telephoneNoErrorStateMatcher"
      />
    </mat-form-field>

    <!-- 住家電話 - 分機號碼 -->
    <mat-form-field class="w-20 grow shrink-0">
      <mat-label>分機號碼</mat-label>
      <input
        type="text"
        inputmode="numeric"
        matInput
        formControlName="telExt"
        maxlength="6"
        [errorStateMatcher]="telephoneNoErrorStateMatcher"
      />
    </mat-form-field>
  </div>
</form>
