.HCProgram.form-field-style {
  padding: 0 0 0 0;

  > ul {
    padding: 1rem 0.75em 1rem 0.75em;
    min-height: 240px;
    border-radius: 0 0 4px 4px;

    transform: rotate(180deg) scaleX(-1);
    scroll-snap-type: x mandatory;

    display: flex;
    align-items: flex-end;
    overflow-x: scroll;

    > li {
      margin-right: 1rem;
      padding: 1rem;
      width: 100%;
      border-width: 2px;
      border-radius: 4px;

      transform: rotate(180deg) scaleX(-1);
      scroll-snap-align: center;

      flex-shrink: 0;
    }
    @media (min-width: 600px) {
      > li {
        width: calc((100% - 1rem) / 2);
      }
    }
    @media (min-width: 960px) {
      > li {
        width: calc((100% - 2rem) / 3);
      }
    }
    @media (min-width: 1280px) {
      > li {
        width: calc((100% - 3rem) / 4);
      }
    }
    > li:last-child {
      margin-right: 0;
    }
  }
}
