<div class="page-title">申請件數統計</div>

<mat-card>
  <div class="spinner-box">
    <div class="flex justify-between overflow-auto py-4">
      <span class="grow"></span>

      <ngx-charts-bar-horizontal
        [view]="view"
        [results]="resultsGroupedByCreateDatetime"
        [scheme]="scheme"
        [legend]="false"
        legendTitle="圖例"
        [xAxis]="true"
        [yAxis]="true"
        [roundDomains]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        xAxisLabel="件數"
        yAxisLabel="日期"
        [xAxisTickFormatting]="xAxisTickFormatting"
        [barPadding]="16"
      >
      </ngx-charts-bar-horizontal>

      <span class="grow"></span>
    </div>

    <div *ngIf="gettingList" class="spinner">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</mat-card>
