<div class="page-title">變更密碼</div>

<mat-card>
  <div class="spinner-box">
    <form [formGroup]="changePasswordFG" class="grid grid-cols-2 gap-x-4 p-4">
      <!-- 帳號 -->
      <mat-form-field class="col-span-2 sm:col-span-1">
        <mat-label>帳號</mat-label>
        <input
          type="text"
          matInput
          formControlName="username"
          required
          maxlength="20"
          appAutoFocus
        />

        <mat-error *ngIf="changePasswordFCs['username'].hasError('required')"
          >請輸入&nbsp;<strong>帳號</strong></mat-error
        >
      </mat-form-field>

      <!-- 舊密碼 -->
      <mat-form-field class="col-span-2 sm:col-span-1">
        <mat-label>舊密碼</mat-label>
        <input
          [type]="showPassword ? 'text' : 'password'"
          matInput
          formControlName="password"
          required
          maxlength="20"
          autocomplete="off"
        />

        <button
          type="button"
          matSuffix
          mat-icon-button
          color="primary"
          [matTooltip]="showPassword ? '隱藏密碼' : '顯示密碼'"
          (click)="showPassword = !showPassword"
        >
          <mat-icon>{{
            showPassword ? "visibility" : "visibility_off"
          }}</mat-icon>
        </button>

        <mat-error *ngIf="changePasswordFCs['password'].hasError('required')"
          >請輸入&nbsp;<strong>舊密碼</strong></mat-error
        >
        <mat-error *ngIf="changePasswordFCs['password'].hasError('minlength')"
          >請輸入&nbsp;<strong>6 個字元以上</strong>&nbsp;的舊密碼</mat-error
        >
      </mat-form-field>

      <!-- 新密碼 -->
      <mat-form-field class="col-span-2 sm:col-span-1">
        <mat-label>新密碼</mat-label>
        <input
          [type]="showNewPassword ? 'text' : 'password'"
          matInput
          formControlName="newPassword"
          required
          maxlength="20"
          autocomplete="off"
        />

        <button
          type="button"
          matSuffix
          mat-icon-button
          color="primary"
          [matTooltip]="showNewPassword ? '隱藏密碼' : '顯示密碼'"
          (click)="showNewPassword = !showNewPassword"
        >
          <mat-icon>{{
            showNewPassword ? "visibility" : "visibility_off"
          }}</mat-icon>
        </button>

        <mat-error *ngIf="changePasswordFCs['newPassword'].hasError('required')"
          >請輸入&nbsp;<strong>新密碼</strong></mat-error
        >
        <mat-error
          *ngIf="changePasswordFCs['newPassword'].hasError('minlength')"
          >請輸入&nbsp;<strong>6 個字元以上</strong>&nbsp;的新密碼</mat-error
        >
      </mat-form-field>

      <!-- 確認新密碼 -->
      <mat-form-field class="col-span-2 sm:col-span-1">
        <mat-label>確認新密碼</mat-label>
        <input
          [type]="showConfirmPassword ? 'text' : 'password'"
          matInput
          formControlName="confirmPassword"
          required
          maxlength="20"
          autocomplete="off"
          [errorStateMatcher]="passwordMatchErrorStateMatcher"
        />

        <button
          type="button"
          matSuffix
          mat-icon-button
          color="primary"
          [matTooltip]="showConfirmPassword ? '隱藏密碼' : '顯示密碼'"
          (click)="showConfirmPassword = !showConfirmPassword"
        >
          <mat-icon>{{
            showConfirmPassword ? "visibility" : "visibility_off"
          }}</mat-icon>
        </button>

        <mat-error
          *ngIf="changePasswordFCs['confirmPassword'].hasError('required')"
          >請再次輸入&nbsp;<strong>新密碼</strong></mat-error
        >
        <mat-error *ngIf="changePasswordFG.hasError('passwordMatch')"
          >新密碼與確認密碼&nbsp;<strong>不相符</strong></mat-error
        >
      </mat-form-field>

      <div class="actions-box col-span-2">
        <span class="grow"></span>
        <button
          type="submit"
          mat-flat-button
          color="primary"
          [disabled]="changing"
          (click)="onChangePassword()"
        >
          確認
        </button>
      </div>
    </form>

    <div *ngIf="changing" class="spinner">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</mat-card>
