// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$guanxi-social-affairs-primary: mat.define-palette(mat.$indigo-palette);
$guanxi-social-affairs-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);
$guanxi-social-affairs-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$guanxi-social-affairs-theme: mat.define-light-theme(
  (
    color: (
      primary: $guanxi-social-affairs-primary,
      accent: $guanxi-social-affairs-accent,
      warn: $guanxi-social-affairs-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($guanxi-social-affairs-theme);

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  // spinner
  .spinner-box {
    @apply w-full min-h-60 relative;
  }
  .spinner {
    @apply absolute top-0 right-0 bottom-0 left-0 flex justify-center items-center bg-black bg-opacity-10 cursor-progress z-10;
  }
  .blocking.spinner {
    @apply fixed;
  }

  // page
  .w-page {
    @apply w-full max-w-7xl m-auto px-4;
  }
  .page-title {
    @apply text-3xl my-4 sm:text-4xl;
  }

  // cover-page
  .cover-page {
    @apply min-h-cover-page lg:min-h-cover-page-lg;
  }

  // breadcrumbs
  .breadcrumbs {
    @apply text-sm text-black text-opacity-60 py-4;

    a,
    span,
    mat-icon {
      @apply align-middle;
    }
    a {
      @apply underline underline-offset-2 hover:text-amber-400;
    }
    mat-icon {
      @apply w-5 h-5 text-sm text-center;
    }
  }

  // footer
  footer {
    ul {
      @apply mb-4 md:mb-0;
    }
    li {
      @apply flex items-start;
    }
    label {
      @apply shrink-0 leading-6 text-sm mr-2 md:leading-7;
    }
    label + span,
    label + a {
      @apply text-base md:text-lg;
    }
  }

  // actions-box
  .actions-box {
    @apply flex items-center;

    button:not(:last-of-type) {
      @apply mr-2;
    }
  }

  // detail-col
  .detail-col {
    td {
      @apply border-b border-black border-opacity-6;
    }
    label {
      @apply min-w-14 shrink-0 leading-6 text-sm text-center md:leading-7;
    }
    label:not(:last-of-type) {
      @apply mr-2;
    }
    span {
      @apply text-base md:text-lg;
    }
  }
  .appl.detail-col tr:last-of-type td {
    @apply md:border-b-0;
  }
  .news.detail-col tr:last-of-type td,
  .program.detail-col tr:last-of-type td,
  .receiver.detail-col tr:last-of-type td {
    @apply border-b-0;
  }

  // clickable-text
  .clickable-text {
    @apply underline underline-offset-2 cursor-pointer hover:text-amber-400;
  }

  // owl
  .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    @apply bg-amber-400;
  }

  // snack-bar
  snack-bar-container.success {
    @apply border-l-[6px] border-teal-600;

    mat-icon {
      @apply text-teal-600;
    }
  }
  snack-bar-container.error {
    @apply border-l-[6px] border-rose-400;

    mat-icon {
      @apply text-rose-400;
    }
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Noto Sans TC", sans-serif;

  background-color: #fafafa; // from @angular/material mat-drawer-container
}

textarea {
  font-size: 1rem !important;
  line-height: 1.5rem !important;
  resize: none !important;
}

/* adjustments for ngx-editor */
.NgxEditor__MenuBar {
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  border: 1px solid #ccc !important;
  border-bottom: none !important;

  input[type="text"],
  input[type="href"] {
    border: 1px solid #ccc !important;
  }
  button[type="submit"],
  button.NgxEditor__MenuItem--Button {
    padding: 4px 8px !important;
    border-radius: 4px !important;

    color: rgba(0, 0, 0, 0.87) !important;
    background-color: rgba(0, 0, 0, 0.04) !important;
  }
  button[type="submit"]:disabled,
  button.NgxEditor__MenuItem--Button:disabled {
    color: rgba(0, 0, 0, 0.26) !important;
    background-color: rgba(0, 0, 0, 0.12) !important;
  }
}
.NgxEditor {
  border-radius: 0 !important;
  border: 1px solid #ccc !important;
  border-bottom: none !important;
}
.NgxEditor,
.NgxEditorViewer {
  u {
    text-underline-offset: 2px;
  }
  ol,
  ul {
    padding-left: 2.5rem;
  }
  ol {
    list-style-type: decimal;
  }
  ul {
    list-style-type: disc;
  }
}

/* adjustments for @angular/material */
// button
.mat-icon-button {
  line-height: 1 !important;
}

// mat-card
mat-card {
  padding: 0 !important;
  overflow: hidden !important;
}

// form-field
mat-form-field {
  margin-bottom: 1em !important;
}
.form-field-style {
  margin-bottom: calc(1.34375em + 1em);
  padding: 0 0.75em 0 0.75em;
  border-radius: 4px 4px 0 0;

  background-color: rgba(0, 0, 0, 0.04);

  position: relative;

  .form-field-label {
    color: rgba(0, 0, 0, 0.6);

    white-space: nowrap;
  }
}
.form-field-style::after {
  content: "";
  height: 1px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.42);
}
.form-field-style.form-field-invalid {
  border-bottom-color: #f44336;

  .form-field-label {
    color: #f44336;
  }
}
.form-field-style:hover::after,
.form-field-style.form-field-invalid::after {
  height: 2px;
}
.form-field-style:hover::after {
  background-color: rgba(0, 0, 0, 0.87);
}
.form-field-style.form-field-invalid::after {
  background-color: #f44336;
}
.mat-form-field-subscript-wrapper {
  overflow: visible !important;
}
.mat-error {
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
  white-space: nowrap !important;
}

// table
th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  padding: 0 12px 0 12px !important;
}
th.mat-header-cell {
  word-break: keep-all;
}

// tooltip
.mat-tooltip {
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
}

// others
.color-primary {
  color: mat.get-color-from-palette($guanxi-social-affairs-primary) !important;
}
.bgc-primary {
  background-color: mat.get-color-from-palette(
    $guanxi-social-affairs-primary
  ) !important;
}
.color-accent {
  color: mat.get-color-from-palette($guanxi-social-affairs-accent) !important;
}
.bgc-accent {
  background-color: mat.get-color-from-palette(
    $guanxi-social-affairs-accent
  ) !important;
}
.color-warn {
  color: mat.get-color-from-palette($guanxi-social-affairs-warn) !important;
}
.bgc-warn {
  background-color: mat.get-color-from-palette(
    $guanxi-social-affairs-warn
  ) !important;
}
