<form [formGroup]="fg" class="grid grid-cols-2 gap-x-4 my-4">
  <!-- 身分證正面 -->
  <div class="col-span-2 form-field-style sm:col-span-1">
    <div class="w-full h-form-field flex justify-between items-center">
      <label class="form-field-label">身分證正面 *</label>

      <button
        type="button"
        mat-icon-button
        color="primary"
        [disabled]="uploading"
        (click)="uploadPhoto(fcs['imgIDA'])"
      >
        <mat-icon>add_photo_alternate</mat-icon>
      </button>
    </div>

    <div class="w-full h-60 flex justify-center items-center">
      <img
        *ngIf="fcs['imgIDA'].value; else noImgIDA"
        [src]="fcs['imgIDA'].value"
        alt="imgIDA"
        class="max-w-full max-h-full"
      />

      <ng-template #noImgIDA>
        <span>請&nbsp;</span
        ><span class="clickable-text" (click)="uploadPhoto(fcs['imgIDA'])"
          >拍攝或上傳</span
        ><span>&nbsp;<strong>身分證正面</strong>&nbsp;照片</span>
      </ng-template>
    </div>
  </div>

  <!-- 身分證反面 -->
  <div class="col-span-2 form-field-style sm:col-span-1">
    <div class="w-full h-form-field flex justify-between items-center">
      <label class="form-field-label">身分證反面 *</label>

      <button
        type="button"
        mat-icon-button
        color="primary"
        [disabled]="uploading"
        (click)="uploadPhoto(fcs['imgIDB'])"
      >
        <mat-icon>add_photo_alternate</mat-icon>
      </button>
    </div>

    <div class="w-full h-60 flex justify-center items-center">
      <img
        *ngIf="fcs['imgIDB'].value; else noImgIDB"
        [src]="fcs['imgIDB'].value"
        alt="imgIDB"
        class="max-w-full max-h-full"
      />

      <ng-template #noImgIDB>
        <span>請&nbsp;</span
        ><span class="clickable-text" (click)="uploadPhoto(fcs['imgIDB'])"
          >拍攝或上傳</span
        ><span>&nbsp;<strong>身分證反面</strong>&nbsp;照片</span>
      </ng-template>
    </div>
  </div>

  <!-- 存摺封面 -->
  <div class="col-span-2 form-field-style sm:col-span-1">
    <div class="w-full h-form-field flex justify-between items-center">
      <label class="form-field-label">存摺封面 *</label>

      <button
        type="button"
        mat-icon-button
        color="primary"
        [disabled]="uploading"
        (click)="uploadPhoto(fcs['imgBankbook'])"
      >
        <mat-icon>add_photo_alternate</mat-icon>
      </button>
    </div>

    <div class="w-full h-60 flex justify-center items-center">
      <img
        *ngIf="fcs['imgBankbook'].value; else noImgBankbook"
        [src]="fcs['imgBankbook'].value"
        alt="imgBankbook"
        class="max-w-full max-h-full"
      />

      <ng-template #noImgBankbook>
        <span>請&nbsp;</span
        ><span class="clickable-text" (click)="uploadPhoto(fcs['imgBankbook'])"
          >拍攝或上傳</span
        ><span>&nbsp;<strong>存摺封面</strong>&nbsp;照片</span>
      </ng-template>
    </div>
  </div>

  <!-- 戶籍謄本 -->
  <div class="col-span-2 form-field-style sm:col-span-1">
    <div class="w-full h-form-field flex justify-between items-center">
      <label class="form-field-label">戶籍謄本 *</label>

      <button
        type="button"
        mat-icon-button
        color="primary"
        [disabled]="uploading"
        (click)="uploadPhoto(fcs['imgRegTranscript'])"
      >
        <mat-icon>add_photo_alternate</mat-icon>
      </button>
    </div>

    <div class="w-full h-60 flex justify-center items-center">
      <img
        *ngIf="fcs['imgRegTranscript'].value; else noImgRegTranscript"
        [src]="fcs['imgRegTranscript'].value"
        alt="imgRegTranscript"
        class="max-w-full max-h-full"
      />

      <ng-template #noImgRegTranscript>
        <span>請&nbsp;</span
        ><span
          class="clickable-text"
          (click)="uploadPhoto(fcs['imgRegTranscript'])"
          >拍攝或上傳</span
        ><span>&nbsp;<strong>戶籍謄本</strong>&nbsp;照片</span>
      </ng-template>
    </div>
  </div>
</form>
